*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  scroll-behavior:smooth;
  font-family:sans-serif;
}